﻿@model IEnumerable<Category>
    <div class="list-group">

        @foreach (var item in Model)
        {
            <a href="#" class="list-group-item list-group-item-action">@item.Name</a>
        }
    </div>
