﻿<div class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container">
        <a href="/" class="navbar-brand">Movie App</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/login" class="nav-link">login</a> 
            </li>
            <li class="nav-item">
                <a href="/register" class="nav-link">Register</a>  
            </li>
        </ul>
    </div>
</div>