﻿@model IEnumerable<Movie>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_menu")
    </div>
    <div class="col-md-9">
        <partial name="_movies" model="Model" />
    </div>
</div>

