﻿
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Movie

<div class="row">
    <div class="col-md-3">
        @*@Html.Partial("_menu", Model.Categories)*@
        @await Component.InvokeAsync("CategoryMenu") 
    </div>
    <div class="col-md-9">
        <div class="card mb-3">

            <div class="card-body">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="~/img/@Model.ImageUrl" alt="" class="card-img" />
                    </div>
                    <div class="col-md-8">
                        <h5 class="card-title">
                            <a asp-action="Details" asp-controller="Home" asp-route-id="@Model.Id">
                                @Model.Name
                            </a>
                            @*<a href="/home/details/@item.Id">@item.Name</a>*@
                        </h5>
                        <p class="card-text">
                            @Html.Raw(Model.Description)
                        </p>
                        <p class="card-text">
                            <small class="text-muted">3 days ago</small>
                        </p>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>