﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Movie>

<div class="row">
    <div class="col-md-3">
        @*@Html.Partial("_menu", Model.Categories)*@
        @await Component.InvokeAsync("CategoryMenu") 
    </div>
    <div class="col-md-9">
        @*@Html.Partial("_movies", Model)*@
        <partial name="_movies" model="Model"></partial>
    </div>
</div>


